<!-- about -->
	<div class="about" id="about">
		<div class="container">
			<div class="w3-agileits-about-grids">
				<div class="col-md-6 agile-about-left">
					<h2>About Us</h2>
					<h5>Funzilla is the most flexible online platform for booking entertainment services</h5>
					<p>We are a group of developers with the vision of having an online platform
					to combine all sorts of entertainment in one place allowing users to book just from one place
					as well as giving the entertainment services the online marketing
					campaigns they need.
					</p>
				</div>
				<div class="col-md-6 agile-about-right">
					<br><br>
					<div class="agile-about-right-img1">
						<img src="images/a1.jpg" alt="" />
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //about -->