<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}
</style>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  x[slideIndex-1].style.display = "block";
}
</script>
<body class="w3-theme-l5" >

  <div class="jarallax banner">
		<div class="wthree-different-dot">
			<!-- //header -->
			<div class="banner-top">
				<div class="container">
					<div class="slider">
						<div class="callbacks_container">
							<ul class="rslides callbacks callbacks1" id="slider4">
								<li>

									<div class="banner_text">
										<h3>{{service.name}}</h3>
                    <h3>{{service.actualRating}}</h3>
                    <span style="font-size:300%;color:yellow;">&starf;</span><span style="font-size:300%;color:yellow;">&starf;</span><span style="font-size:300%;color:yellow;">&starf;</span><span style="font-size:300%;color:yellow;">&starf;</span><span style="font-size:300%;color:yellow;">&starf;</span>
										<div class="w3-button">

										</div>
									</div>
								</li>

							</ul>
						</div>
						<script src="js/responsiveslides.min.js"></script>
						<script>
							// You can also use "$(window).load(function() {"
							$(function () {
							  // Slideshow 4
							  $("#slider4").responsiveSlides({
								auto: true,
								pager:true,
								nav:true,
								speed: 500,
								namespace: "callbacks",
								before: function () {
								  $('.events').append("<li>before event fired.</li>");
								},
								after: function () {
								  $('.events').append("<li>after event fired.</li>");
								}
							  });

							});
						 </script>
						<!--banner Slider starts Here-->
					</div>
				</div>
			</div>
		</div>
	</div>




<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      <div class="w3-card-2 w3-round w3-white">
        <div class="w3-container">
         <h4 class="w3-center">{{service_corp.name}}</h4>
         <p class="w3-center"><img src="/images/enter.png" class="w3-circle" style="width:200px" alt="Avatar"></p>
         <hr>
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>Location :- {{service.location}}</p>
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>{{service.email}}</p>
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>Rating :- {{service.actualRating}}</p>
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>Phone :- {{service.phone}}</p>
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>Price :- {{service.price}}</p>
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>Type :- {{service.type}}</p>
        </div>
      </div>
      <br>


      <br>




    <!-- End Left Column -->
    </div>

    <!-- Middle Column -->
    <div class="w3-col m7">

      <div class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>

        <h2>Images</h2>

        <div class="w3-content w3-display-container"><br><br><br><br><br>
          <div ng-repeat ="(i,x) in service.images">
            <img class="mySlides" src="/uploads/images/{{x}}" style="width:100%;">
          </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
        </div>


      </div>



        <div class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>
          <h2>Videos</h2>
          <div class="w3-content w3-display-container"><br><br><br><br><br>
          <div ng-repeat ="(i,x) in service.videos">
            <video class="mySlides" src="/uploads/videos/{{x}}" style="width:100%"></video>
          </div>
          <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
          <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
          </div>

        </div>

  <div class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>
    <h2>Reviews</h2>
    <br>

    <div ng-repeat ="x in service.reviews track by $index"   class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>
      <p> {{x.text}}</p>
    </div>

</div>



    <!-- End Middle Column -->
    </div>



  <!-- End Grid -->
  </div>

<!-- End Page Container -->
</div>
<br>


<script>
// Accordion
function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-theme-d1";
    } else {
        x.className = x.className.replace("w3-show", "");
        x.previousElementSibling.className =
        x.previousElementSibling.className.replace(" w3-theme-d1", "");
    }
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html>
