<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}
</style>

<script>
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(carousel, 2000); // Change image every 2 seconds
}
</script>
<body class="w3-theme-l5" >





<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      <div class="w3-card-2 w3-round w3-white">
        <div class="w3-container">
         <h4 class="w3-center">Name</h4>
         <p class="w3-center"><img src="/w3images/avatar3.png" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
         <hr>
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>{{service_corp.name}}</p>
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> Location</p>
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>Email</p>
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>Rating</p>
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>Phone</p>
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>actualRating</p>
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>type</p>
        </div>
      </div>
      <br>

      <!-- Accordion -->
      <div class="w3-card-2 w3-round">
        <div class="w3-white">
          <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i>Reserve</button>
          <div id="Demo1" class="w3-hide w3-container">
            <p>Some text..</p>
          </div>
        </div>
      </div>
      <br>


      <br>



    <!-- End Left Column -->
    </div>

    <!-- Middle Column -->
    <div class="w3-col m7">

      <div class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>

        <h2>Images</h2>

    <div class="w3-content w3-section" style="max-width:500px">
      <img class="mySlides" src="images/banner.jpg" style="width:500px">
      <img class="mySlides" src="images/1.jpg" style="width:100%">
      <img class="mySlides" src="images/banner.jpg" style="width:100%">
    </div>


    </div>


    <div class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>
      <h2>Videos</h2>

  </div>



      <div class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>
        <h2>Reviews</h2>
        <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa "></i>Report</button>
        <br><br>
      </div>
    </div>


      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card-2 w3-round w3-white">
            <div class="w3-container w3-padding">
              <form ng-submit= "addannounce(regData)" target="_blank" ng-controller = "addannounce">
              <div class="w3-section">
                  <div class="form-group w3layouts w3 w3l">
                    <input name="userinput" type="text" class="form-control" id="lastName" placeholder="Review" data-error="Enter Your data" ng-model= "regData.userinput" required>
                    <div class="help-block with-errors"></div>
                  </div>
              </div>
              <button type="submit" class="w3-button w3-black w3-margin-bottom"><i class="fa fa-paper-plane w3-margin-right"></i>Post</button>
            </form>
            </div>
          </div>
        </div>
      </div>


    <!-- End Middle Column -->
    </div>



  <!-- End Grid -->
  </div>

<!-- End Page Container -->
</div>
<br>


<script>
// Accordion
function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-theme-d1";
    } else {
        x.className = x.className.replace("w3-show", "");
        x.previousElementSibling.className =
        x.previousElementSibling.className.replace(" w3-theme-d1", "");
    }
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html>
