<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}
</style>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  x[slideIndex-1].style.display = "block";
}
</script>
<body class="w3-theme-l5" >

  <div class="jarallax banner">
		<div class="wthree-different-dot">
			<!-- //header -->
			<div class="banner-top">
				<div class="container">
					<div class="slider">
						<div class="callbacks_container">
							<ul class="rslides callbacks callbacks1" id="slider4">
								<li>

									<div class="banner_text">
										<h3>{{service.name}}</h3>
                    <h3>{{service.actualRating}}</h3>
                    <span style="font-size:300%;color:yellow;">&starf;</span><span style="font-size:300%;color:yellow;">&starf;</span><span style="font-size:300%;color:yellow;">&starf;</span><span style="font-size:300%;color:yellow;">&starf;</span><span style="font-size:300%;color:yellow;">&starf;</span>
										<div class="w3-button">

										</div>
									</div>
								</li>

							</ul>
						</div>
						<script src="js/responsiveslides.min.js"></script>
						<script>
							// You can also use "$(window).load(function() {"
							$(function () {
							  // Slideshow 4
							  $("#slider4").responsiveSlides({
								auto: true,
								pager:true,
								nav:true,
								speed: 500,
								namespace: "callbacks",
								before: function () {
								  $('.events').append("<li>before event fired.</li>");
								},
								after: function () {
								  $('.events').append("<li>after event fired.</li>");
								}
							  });

							});
						 </script>
						<!--banner Slider starts Here-->
					</div>
				</div>
			</div>
		</div>
	</div>




<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      <div class="w3-card-2 w3-round w3-white">
        <div class="w3-container">
         <h4 class="w3-center">{{service_corp.name}}</h4>
         <p class="w3-center"><img src="/images/enter.png" class="w3-circle" style="width:200px" alt="Avatar"></p>
         <hr>
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>Location :- {{service.location}}</p>
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>{{service.email}}</p>
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>Rating :- {{service.actualRating}}</p>
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>Phone :- {{service.phone}}</p>
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>Price :- {{service.price}}</p>
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>Type :- {{service.reservations}}</p>
        </div>
      </div>
      <br>


      <div class="w3-card-2 w3-round">
        <div class="w3-white">
          <button onclick="myFunction('Demo3')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i>Rate Service</button>
          <div id="Demo3" class="w3-hide w3-container">
            <form ng-submit= "addrating(regData)" target="_blank" ng-controller = "add_rating">
                <div class="w3-section">
                    <label>Rating</label>
                    <div class="form-group agileinfo wthree w3-agileits agile">
                      <input name="rating" type="number" min="1" max="10" class="form-control" id="rating" placeholder="Rating" data-error="Enter the Rating" ng-model= "regData.rating" required>
                      <div class="help-block with-errors"></div>
                    </div>
                </div>
                <button type="submit" class="w3-button w3-black w3-margin-bottom"><i class="fa fa-paper-plane w3-margin-right"></i>Add</button>
            </form>
          </div>
        </div>
      </div>
      <br>


      <div class="w3-card-2 w3-round">
        <div class="w3-white">
          <button onclick="myFunction('Demo2')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i>Book Service</button>
          <div id="Demo2" class="w3-hide w3-container">

              <form  method="post" action="/charge">
                  <div class="w3-section">
                      <label>Available Dates</label>
                      <div class="form-group agileinfo wthree w3-agileits agile" ng-repeat="(i,x) in service.reservations track by $index" >
                          <label for="radio">{{x.date}} {{x.startHour}}:{{x.startMinute}}</label>
                          <input id="radio" name="date" type="radio" value="{{x.date}}" onclick="karim()"  >
                          <input type="hidden" value="{{x.startHour}}"name="startHour">
                          <input type="hidden" value="{{x.startMinute}}"name="startMinute">
                          <div class="help-block with-errors"></div>
                      </div>
                      <div>
                          <script  src="https://checkout.stripe.com/checkout.js"
                                   class="stripe-button"
                                   data-key="pk_test_BUJCHabcusGo0VmmgM0yUoo2"
                                   data-name={{service.name}}
                                   data-amount={{service.price}}
                                   data-description="nothing"
                                   data-locale="auto"
                                   data-currency="egp">


                          </script>
                          <input type="text" name="chargeAmount" value={{service.price}}>
                          <input type="text" name="id"  value="{{service._id}}">
                          <input type="text" name="email" value="{{service.email}}">
                          <input type="text" id="text1" >

                      </div>
                  </div>

                  </form>

          </div>
        </div>
      </div>
      <br>


        <script type="text/javascript">
           function karim(id){

               var $radio = $('input[name=rating]:checked');
               document.getElementById("text1").value=$radio.val();
           }
        </script>

    <!-- End Left Column -->
    </div>

    <!-- Middle Column -->
    <div class="w3-col m7">

      <div class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>

        <h2>Images</h2>

        <div class="w3-content w3-display-container"><br><br><br><br><br>
          <div ng-repeat ="(i,x) in service.images" >
      <img class="mySlides" src="{{x}}" style="width:100%">
    </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
      </div>


    </div>


    <div class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>
      <h2>Videos</h2>

  </div>



      <div class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>
        <h2>Reviews</h2>
        <br>

        <div ng-repeat ="x in service.reviews track by $index"   class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>
          <p> {{x.text}}</p>
        </div>

    </div>


      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card-2 w3-round w3-white">
            <div class="w3-container w3-padding">
              <form ng-submit= "addreview(regData)" target="_blank" ng-controller = "add_review">
              <div class="w3-section">
                  <div class="form-group w3layouts w3 w3l">
                    <input name="text" type="text" class="form-control" id="text" placeholder="Review" data-error="Enter Your Review" ng-model= "regData.text" required>
                    <div class="help-block with-errors"></div>
                  </div>
              </div>
              <button type="submit" class="w3-button w3-black w3-margin-bottom"><i class="fa fa-paper-plane w3-margin-right"></i>Post</button>
            </form>
            </div>
          </div>
        </div>
      </div>


    <!-- End Middle Column -->
    </div>



  <!-- End Grid -->
  </div>

<!-- End Page Container -->
</div>
<br>


<script>
// Accordion
function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-theme-d1";
    } else {
        x.className = x.className.replace("w3-show", "");
        x.previousElementSibling.className =
        x.previousElementSibling.className.replace(" w3-theme-d1", "");
    }
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html>
