<div class="banner-top">
				<div class="container">
					<div class="slider">
						<div class="callbacks_container">
							<ul class="rslides callbacks callbacks1" id="slider4">
								<li>

									<div class="banner_text">
										<h3>Funzilla</h3>
										<p>Entertainment have never been easier</p>
										<div class="w3-button">
											<a href="">Play !</a>
										</div>
									</div>
								</li>

							</ul>
						</div>
						<script src="../js/responsiveslides.min.js"></script>
						<script>
							// You can also use "$(window).load(function() {"
							$(function () {
							  // Slideshow 4
							  $("#slider4").responsiveSlides({
								auto: true,
								pager:true,
								nav:true,
								speed: 500,
								namespace: "callbacks",
								before: function () {
								  $('.events').append("<li>before event fired.</li>");
								},
								after: function () {
								  $('.events').append("<li>after event fired.</li>");
								}
							  });
							});
						 </script>
						<!--banner Slider starts Here-->
					</div>
				</div>
			</div>