<!DOCTYPE html>
<html>
<title></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Meta tag Keywords -->
<!-- css files -->


<script>
    function myFunction(id) {
        var x = document.getElementById(id);
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
            x.previousElementSibling.className += " w3-red";
        } else {
            x.className = x.className.replace(" w3-show", "");
            x.previousElementSibling.className =
                x.previousElementSibling.className.replace(" w3-red", "");
        }
    }
</script>





<!-- //js -->
<script src="js/responsiveslides.min.js"></script>
<script>
    $(function () {
        $("#slider").responsiveSlides({
            auto: true,
            pager:false,
            nav: true,
            speed: 1000,
            namespace: "callbacks",
            before: function () {
                $('.events').append("<li>before event fired.</li>");
            },
            after: function () {
                $('.events').append("<li>after event fired.</li>");
            }
        });
    });
</script>

<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".scroll").click(function(event){
            event.preventDefault();
            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
    });
</script>

<style>
	html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
	.btn-file {
		position: relative;
		overflow: hidden;
	}
	.btn-file input[type=file] {
		position: absolute;
		top: 0;
		right: 0;
		min-width: 100%;
		min-height: 100%;
		font-size: 100px;
		text-align: right;
		filter: alpha(opacity=0);
		opacity: 0;
		outline: none;
		background: white;
		cursor: inherit;
		display: block;
	}
</style>
<br><br><br>
<body class="" >





<div>


</div>

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

	<!-- The Grid -->
	<div class="w3-row-padding">
		<!-- Left Column -->
		<div class="w3-third">

			<div class="w3-white w3-text-grey w3-card-4">
				<div class="w3-display-container w3-center">
					<img src="/images/profile_client.png" style="width:250px; height:240px;" alt="Avatar" class="w3-circle w3-center">
					<br>
					<div class="w3-display-bottomleft w3-container w3-text-black">
					</div>
				</div>
				<br><br>
				<div class="w3-container">
					<p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Name : {{client.firstName }} {{client.lastName }}</p>
					<p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Phone : {{client.phone}}</p>
					<p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>National ID : {{client.nationalID}}</p>
					<p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Username : {{client.local.username}}</p>
					<p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Email : {{client.email}}</p>
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Balance : {{client.balance}} EGP</p>
					<hr>
				</div>
			</div><br>

      <div class="w3-container">


        <h3>Add Balance</h3>
        <button onclick="myFunction('Demo4')" class="w3-btn-block w3-left-align">Recharge Money</button>
        <div id="Demo4" class="w3-hide w3-container">
          <h3 style="margin-bottom:40px;"></h3>

          <form action="/charge" method="POST">
            <input name="chargeAmount" type="number" min="10" max="1000" value="" class="form-control" id="charge" placeholder="chargeAmount" data-error="Enter the Amount" required><br>
         <script src="https://checkout.stripe.com/checkout.js"
                   class="stripe-button"
                   data-key="pk_test_BUJCHabcusGo0VmmgM0yUoo2"
                   data-name="Charge Amount"
                   data-description={{client.name}}
                   data-locale="auto"
                   data-currency="egp"
                   >

          </script>
        </form>

        </div>
      </div>
			<!-- End Left Column -->
		</div>

		<!-- Right Column -->
		<div class="w3-twothird">




			<div class="w3-container w3-card-2 w3-white w3-margin-bottom">
				<h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Edit Your Information</h2>

        <form ng-submit= "editClient(regClient)" target="_blank" ng-controller = "edit_Client">
            <div class="w3-section">
                <label>First Name</label>
                <div class="form-group w3layouts w3 w3l">
                  <input name="firstName" type="text" class="form-control" id="firstName" placeholder="firstName" data-error="Enter Your firstName" ng-model= "regClient.firstName" required>
                  <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="w3-section">
                <label>Last Name</label>
                <div class="form-group w3layouts w3 w3l">
                  <input name="lastName" type="text" class="form-control" id="lastName" placeholder="lastName" data-error="Enter Your lastName" ng-model= "regClient.lastName" required>
                  <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="w3-section">
                <label>Nationl ID</label>
                <div class="form-group agileinfo wthree w3-agileits agile">
                  <input name="nationalID" type="text" class="form-control" id="nationalID" placeholder="nationalID" data-error="Enter Your National ID" ng-model= "regClient.nationalID" required>
                  <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="w3-section">
                <label>Phone Number</label>
                <div class="form-group agileinfo wthree w3-agileits agile">
                  <input name="phone" type="text" class="form-control" id="phone" placeholder="phone" data-error="Enter Your phone" ng-model= "regClient.phone" required>
                  <div class="help-block with-errors"></div>
                </div>
            </div>
            <button type="submit" class="w3-button w3-black w3-margin-bottom"><i class="fa fa-paper-plane w3-margin-right"></i>Edit Info</button>
        </form>


    </div>




    <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
      <h2 class="w3-text-grey w3-padding-16"><i class="fa  fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i></h2>

      <h2 class="w3-blue w3-center">My Reservations</h2>
      <div class="bs-component" ng-controller="reservations_client">
                          <table class="table table-striped table-hover">
                              <thead>
                                  <tr>
                                      <th>Date</th>
                                      <th>Hour</th>
                                      <th>Minutes</th>
                                      <th>Name</th>
                                      <th>Price</th>
                                  </tr>

                              </thead>
                              <tbody>
                                  <tr  dir-paginate="user in reservations|itemsPerPage:5" pagination-id="zzzxzz">
                                      <td>{{user.reservationTime.date}}</td>
                                      <td>{{user.reservationTime.startHour}}</td>
                                      <td>{{user.reservationTime.startMinute}}</td>
                                      <td>{{user.name}}</td>
                                      <td>{{user.price}}</td>
                                      <td></td>
                                  </tr>
                              </tbody>
                          </table>
                          <div class="w3-center">
                          <dir-pagination-controls
                             direction-links="true"
                             boundary-links="true"
                             pagination-id="zzzxzz"
                              >
                          </dir-pagination-controls>
                        </div>
                      </div>

  </div>



			<!-- End Right Column -->
		</div>

		<!-- End Grid -->
	</div>

	<!-- End Page Container -->
</div>
<br><br><br><br>


</body>
</html>
