<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey w3-content" style="max-width:1600px">


<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
    <div class="w3-container">
        <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
            <i class="fa fa-remove"></i>
        </a>
        <img src="/images/profile_client.png" style="width:45%;" class="w3-round"><br><br>
        <h4><b>{{client.username}}</b></h4>
    </div>
    <div class="w3-bar-block">
        <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-th-large fa-fw w3-margin-right"></i>first+last</a>
        <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>phone</a>
        <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>national_id</a>
        <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-envelope fa-fw w3-margin-right"></i>email</a>
    </div>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">

<br>

    <!-- Contact Section -->
    <div class="w3-container w3-padding-large w3-grey">
        <h4 id="contact"><b>Edit Yor Account Info</b></h4>

        <hr class="w3-opacity">
        <form action="/action_page.php" target="_blank">
            <div class="w3-section">
                <label>First Name</label>
                <div class="form-group w3layouts w3 w3l">
                  <input name="firstName" type="text" class="form-control" id="firstName" placeholder="firstName" data-error="Enter Your firstName" required>
                  <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="w3-section">
                <label>Last Name</label>
                <div class="form-group w3layouts w3 w3l">
                  <input name="lastName" type="text" class="form-control" id="lastName" placeholder="lastName" data-error="Enter Your lastName" required>
                  <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="w3-section">
                <label>Nationl ID</label>
                <div class="form-group agileinfo wthree w3-agileits agile">
                  <input name="nationalID" type="text" class="form-control" id="nationalID" placeholder="nationalID" data-error="Enter Your National ID" required>
                  <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="w3-section">
                <label>Phone Number</label>
                <div class="form-group agileinfo wthree w3-agileits agile">
                  <input name="phone" type="text" class="form-control" id="phone" placeholder="phone" data-error="Enter Your phone" required>
                  <div class="help-block with-errors"></div>
                </div>
            </div>
            <button type="submit" class="w3-button w3-black w3-margin-bottom"><i class="fa fa-paper-plane w3-margin-right"></i>Edit Info</button>
        </form>
    </div>

    <!-- End page content -->
</div>

<br><br><br>

<script>
    // Script to open and close sidebar
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
    }

    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
    }
</script>

</body>
</html>
