	<!-- services -->
	<div class="services" id="services">
		<div class="container">
			<div class="w3-agile-heading">
				<h3>Our Services</h3>
			</div>
			<div class="w3ls-services-grids">
				<div class="col-md-3 w3ls-services-left">
					<div class="w3ls-services-left-top">
						<i class="fa fa-user" aria-hidden="true"></i>
						<h5>Add your Business</h5>
						<p>We provide corporates with a business page to upload any kind of announcements<br><br></p>
					</div>
				</div>
				<div class="col-md-6 w3ls-services-middle">
					<div class="w3ls-services-middle-img">
						<img src="images/7.jpg" alt="" />
					</div>
					<div class="w3ls-services-middle-grids">
						<div class="col-md-6 w3ls-services-middle-left">
							<div class="w3ls-services-left-top">
								<i class="fa fa-bell" aria-hidden="true"></i>
								<h5>Book entertainment services </h5>
								<p>You can easily book various types of entertainment services through our website<br><br></p>
							</div>
						</div>
						<div class="col-md-6 w3ls-services-middle-left">
							<div class="w3ls-services-left-top">
								<i class="fa fa-heart" aria-hidden="true"></i>
								<h5>Seek new types of Entertainment</h5>
								<p>At funzilla you can try new ways of entertainment you have never thought of, you can search for entertainment services by location.</p>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="col-md-3 w3ls-services-left">
					<div class="w3ls-services-left-top">
						<i class="fa fa-eye" aria-hidden="true"></i>
						<h5>Register</h5>
						<p>You can simply register through facebook or through our website in order to gain promo codes and discounts</p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //services -->