<!DOCTYPE html>
<html lang="eng" ng-app = "">
<head>
    <meta charset = "UTF-8">
    <title>Business Requests</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>
<body>
<h1>hello</h1>
<div ng-init = <%="bus=corp"%>>
    <p ng-repeat = "c in bus">
        Name: {{c.name}} <br>
        Email: {{c.email}}<br>
        type: {{c.type}}<br>
    </p>
</div>
</body>
</html>